$border-color: #6c36c3;
$shadow-color: #494141;
$primary-color: rgb(36, 32, 35);
$secondary-color:rgba(159, 36, 253, 0.25);
$secondary-color-hover: #4c415f;
$accent-color: #82719d;
$accent-color-hover: #a778a7;
$rounded-corners: 30px;
$font-color: rgb(211, 190, 206);
$padding-sm: 15px;
$padding-xs: 10px;
$margin-sm: 15px;

html {
	height: 100%;
}


h1, p, h2, label, span{
	color: $font-color;
}

.story-part p{
	color: whitesmoke;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
	height: 100%;
	width: 100%;
	background-color: $primary-color;
	overflow-x: hidden;
	margin: 0;
}

//nav

#head-wrapper {
	display: flex;
	justify-content: center;
	height: fit-content;
	width: 100%;
	top: 0;
	z-index: 1000;

	#head {
		// border-bottom: thin black solid;
		height: 50px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: $secondary-color;
		border-bottom: thin solid $border-color;
		position: relative;
		z-index: 1000;


		#header-title-container {
			display: flex;
			flex-direction: column;
			color: $font-color;
			padding-left: 30px;
		}

		.fa-bars {
			color: black;
			font-size: 2.5em;
			cursor: pointer;
			margin-right: 50px;
			display: none;
		}

		.fa-bars:hover {
			color: gray;
		}

		#nav-items {
			display: inline-flex;
			padding-right: 50px;

			.nav-item {
				white-space: nowrap;
				margin: 0;
				padding-right: 20px;
				font-weight: normal;
				cursor: pointer;
				font-size: 1.5em;
				text-decoration: none;
				color: $font-color;
			}

			.nav-item:hover {
				color: gray;
			}
		}

	}
}

#root {
	height: 100%;
}

#header-body {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#page-body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

//main page
#main-page {
	height: 100%;
}

.button {
	background-color: $accent-color;
	padding: $padding-xs;
	border-radius: 8px;
	border: $border-color;
	box-shadow: 0px 0px 10px 2px $shadow-color;
	color: whitesmoke;
}

.button:hover {
	background-color: $accent-color-hover;
}

//game window
.game-window {
	display: flex;
	flex-direction: column;
	height: 80%;
	width: 80%;
	border-radius: $rounded-corners;
	box-shadow: 0px 0px 30px 10px $shadow-color;
	align-self: center;
	border: thin solid $border-color;
	justify-content: space-between;

	.game-window-control-bar {
		height: 100px;
		background-color: $secondary-color;
		padding: $padding-sm;
		margin-top: $margin-sm;
		display: flex;
		justify-content: end;
		align-items: center;
		border-radius: 0 0 $rounded-corners $rounded-corners;
	}

	.game-window-header {
		height: 100px;
		background-color: $secondary-color;
		padding: $padding-sm;
		margin-bottom: $margin-sm;
		display: flex;
		align-items: center;
		border-radius: $rounded-corners $rounded-corners 0 0;
	}
}

#voting-page {
	#story-vote-card-list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		overflow: auto;
		flex-grow: 1;

		.story-vote-card {
			border: thin solid $border-color;
			border-radius: $rounded-corners;
			padding: $padding-sm;
			background-color: $secondary-color;
			margin: $margin-sm;
			width: 20%;
			min-width: 200px;

			.story-part {
				background: $accent-color;
				padding: 20px;
				margin: 20px;
				position: relative;
				border-radius: 5px;
			}

			.story-part:nth-of-type(odd):after {
				border-top: 20px solid transparent;
				border-bottom: 20px solid transparent;
				border-right: 20px solid $accent-color;
				border-left: none;
				right: auto;
				left: -20px;
			}

			.story-part::after {
				content: "";
				width: 0;
				height: 0;
				border-top: 20px solid transparent;
				border-bottom: 20px solid transparent;
				border-left: 20px solid $accent-color;
				right: -20px;
				position: absolute;
				top: 10px;
			}
		}

		.story-vote-card:hover {
			background-color: $secondary-color-hover;
		}

		.selected-card {
			background-color: $accent-color;

			.story-part {
				background-color: $secondary-color;
			}

			.story-part:nth-of-type(odd)::after {
				border-right: 20px solid $secondary-color;

			}

			.story-part::after {
				border-left: 20px solid $secondary-color;
			}

		}

		.selected-card:hover {
			background-color: $accent-color-hover;
		}

	}

	#vote-button {
		font-size: larger;
		height: fit-content;
	}
}


#scoreboard-page #scoreboard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
  flex-grow: 1;
}

#scoreboard-page #scoreboard .scoreboard-item {
  border: thin solid $border-color;
  border-radius: 30px;
  padding: 15px;
  background-color: $primary-color;
  margin: 15px;
  min-width: 200px;
  display: flex;
  justify-content: space-between;
}